extends layout

block content
  h1= title
  p Welcome to #{title}
  p About #{result.foundList.length} results
  ul
    for item in result.foundList
      li
        a(href=item.url target='_blank') #{item.url}
        for element in item.elements
          p !{element.summary}
